<div class="container">
  <h1>Hello <%= current_user.user_name %>!! Happy you are Here!</h1>
  <h2>Welcome!!</h2>

  <ul class="image-list">

  <% current_user.images.each do |image| %>
    <li>
      <img src="<%= image.url %>">
      <a href="/users/<%=current_user.id%>/image/<%=image.id%>/delete">Delete</a></br></br>
    </li>

  <% end %>

  </ul>

</div>
