<% unless logged_in? %>
<a href="/login">Login</a>
<a href="/users/new">Register</a>
<% end %>


<% if logged_in? %>
<a href="/logout">Logout</a>
<a href="/users/<%=current_user.id%>"><%= current_user.user_name %></a>

<% end %>
